.about {
  padding: 80px 150px;
  background: #000000;
  color: white;
  padding-top: 100px;
}

/* SECTION TITLE */
.section-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  padding-left: 80px;
}

.section-title::after {
  content: "";
  width: 80px;
  height: 3px;
  background: #00e5ff;
  display: block;
  margin: 12px auto 0;
}

/* CONTENT */
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

/* IMAGE */
.about-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00e5ff;
}

/* TEXT */
.about-text {
  max-width: 600px;
  font-size: 22px;
  line-height: 1.7;
  color: #d0d0d0;
}

.about-text span {
  color: #00e5ff;
  font-weight: bold;
}

.about-text p {
  margin-bottom: 18px;
}
