* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* GLOBAL BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding-top: 10px;
  overflow-x: hidden;

}

/* 🌙 DARK MODE */
body.dark {
  background-color: #000;
  color: #fff;
}

/* ☀️ LIGHT MODE */
body.light {
  background-color: #fff;
  color: #000;
}

/* ========================= */
/* SECTION BASE (IMPORTANT) */
/* ========================= */
section {
  padding: 100px 150px;       /* top space for navbar */
  scroll-margin-top: 72px;   /* 🔥 anchor fix */
}

/* ========================= */
/* TABLET (laptop resize)   */
/* ========================= */
@media (max-width: 1024px) {
  section {
    padding: 90px 80px;
  }
}

/* ========================= */
/* MOBILE                   */
/* ========================= */
@media (max-width: 768px) {
  section {
    padding: 80px 20px;
    scroll-margin-top: 90px;  /* mobile navbar height */
  }
}
