* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}
html {
  scroll-behavior: smooth;
}

.section {
  padding: 60px 150px;
  background: black;
  color: white;
  section {
  scroll-margin-top: 80px; /* navbar height */
}

}

.section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  border-bottom: 3px solid #00e5ff;
  display: inline-block;
}
